<!doctype html>
<html lang="">
  <head>
    <!-- Base   -->
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <meta name="robots" content="<%= robotsMeta %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="<%= icon64 %>" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%= icon180 %>" />
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
